
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Edit product</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="productname" [ngModel]="prodname" #productname/> 
                  <label class="form-label" for="form3Example1cg">Product Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3cg" class="form-control form-control-lg" name="cuisine"  [ngModel]="prodcuisine" #cuisine/>
                  <label class="form-label" for="form3Example3cg">Cuisine</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="price" [ngModel]="prodprice" #price/>
                  <label class="form-label" for="form3Example4cg">Price</label>
                </div>


                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="save(productname.value,cuisine.value,price.value)">Save</button> &nbsp;
                    <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="back()">Back</button>
                
                </div>

               
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>